// app global css

@font-face 
    font-family: "Nunito";
    src: url("../assets/fonts/Nunito/Nunito-Regular.ttf");
@font-face 
    font-family: "Pacifico";
    src: url("../assets/fonts/Pacifico.ttf");
    
body { font-family: "Nunito", serif }